body {
  margin: 0;
  font-family: 'Gowun Batang', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
